@import 'tailwindcss';

:root {
  /* Base Colors */
  --color-white: #ffffff;
  --color-almost-white: #fefefe;   /* Near white */
  --color-soft-white: #fffdfd;     /* With slight pink tint */

  /* Grays */
  --color-dark-gray: #333333;      /* Button bg, text */
  --color-medium-gray: #999999;    /* Placeholder text */
  --color-light-gray: #cacaca;     /* Input borders */
  --color-gray: #aeaeae;           /* Shadows, subtle borders */
  --color-gray-variant: #b5b5b5;   /* Slight variation */
  --color-soft-gray: #dfdfdf;      /* Background tint */

  /* Accent */
  --color-accent: #4b0082; /* Purple for "Log in" link */
}

body {
  background: linear-gradient(to right, var(--color-soft-gray));
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
